<div class="container p-3">
  <!-- DROP-DOWN-CONTAINER -->
  <div class="row">
    <label class="text-white px-0 py-2 h6" for="city-drop-down">Sélectionner Vorte ville</label>
    <select class="form-select" name="city-drop-down" id="city-drop-down" [(ngModel)]="selectedCity"
      (change)="fetchData()">
      <option [ngValue]="city" *ngFor="let city of allCities; let i = index;" [selected]="city.id == selectedCity.id">
        {{city?.nm}}</option>
    </select>
  </div>

  <!-- SPINNER -->
  <div class="w-100 d-flex justify-content-center p-4 text-white" *ngIf="showLoader">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="forecast-container">
    <div class="py-4 px-3" *ngIf="!showLoader">
      <div class="city-name-container">
        <span class="city-name">{{selectedCity.nm | uppercase}}</span>
      </div>

      <!-- CURRENT CONDITION DIV -->
      <div class="current-city-forecast">
        <i class=" current-city-forecast-icon" [class]="currentCondition.className"></i>
        <div class="current-city-forecast-temp">{{currentCondition.main.temp | number:'1.0-0'}}&deg;</div>
      </div>


      <div class="d-flex align-items-center justify-content-center">
        <div class="forecast-card" *ngFor="let forecast of foreCastData.slice(0,foreCastDays); let i = index;">
          <div class="day">{{forecast.date | date:'ccc'}}</div>
          <div class="forcast-icon">
            <i [class]="forecast.className"></i>
          </div>
          <div class="forecast-max-temp">{{forecast.max / forecast.count | number:'1.0-0' }}&deg;</div>
          <div class="forecast-min-temp">{{forecast.min / forecast.count | number:'1.0-0'}}&deg;</div>
        </div>
      </div>
    </div>
  </div>
</div>
