<div class="container p-3">
  <!-- DROP-DOWN-CONTAINER -->
  <div class="dropdown-container">
    <label class="label" for="city-drop-down"><b>Sélectionner Vorte ville</b></label>
    <app-custom-dropdown [options]="allCities" (reachedBottom)="getAllCities()" (optionSelected)="changeCity($event)"
      [selected]="selectedCity"></app-custom-dropdown>
  </div>

  <!-- SPINNER -->
  <div class="w-100 d-flex justify-content-center p-4 text-white" *ngIf="showLoader">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="forecast-main-container">
    <div class="city-name-container">
      <span class="city-name"><b>{{selectedCity.nm | uppercase}}</b></span>
    </div>

    <!-- CURRENT CONDITION DIV -->
    <div class="current-city-forecast">
      <i class=" current-city-forecast-icon" [class]="currentCondition.className"></i>
      <div class="current-city-forecast-temp">{{currentCondition.main.temp | number:'1.0-0'}}&deg;</div>
    </div>


    <div class="forecast-container">
      <div class="forecast-card" *ngFor="let forecast of foreCastData.slice(0,foreCastDays); let i = index;">
        <div class="day"><b>{{forecast.date | date:'ccc' | uppercase}}</b></div>
        <div class="forcast-icon">
          <i [class]="forecast.className"></i>
        </div>
        <div class="forecast-max-temp">{{forecast.max | number:'1.0-0' }}&deg;</div>
        <div class="forecast-min-temp">{{forecast.min | number:'1.0-0'}}&deg;</div>
      </div>
    </div>
  </div>
</div>